.container {
    background-color: hotpink;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    background-color: blueviolet;

    & .user_left {
        & .follow_btn {
           font-weight: normal; 
        }
    }
        

    & .caption {
        display: inline;
    }

    & .location {
        display: inline;        
    }

}